header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    font-family: Garamond, Calibri, sans-serif;

}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
    font-family: Garamond, Calibri, sans-serif;

}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
    font-family: Garamond, Calibri, sans-serif;

}

dt {
    display: inline-block;
    width: 170px;
    font-family: Garamond, Calibri, sans-serif;

}

dd {
    display: inline-block;
    margin-left: 0;
    vertical-align: top;
    font-family: Garamond, Calibri, sans-serif;

}

input[type=text] {
    background-color: lavender;
    border: 0;
    padding: 0;
    font-family: Garamond, Calibri, sans-serif;

}

textarea {
    border: none;
    background-color: lavender;
    font-family: Garamond, Calibri, sans-serif;
}